.service-card {
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    padding: $spacing-md;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-sm;
    transition: 0.3s ease;

    img {
        width: 60px;
        margin-bottom: $spacing-sm;
    }

    h3 {
        font-weight: 600;
        
    }

    p {
        color: $grey-mid;
        line-height: $line-height;
    }
    }

    .service-card:hover {
        transform: translateY(-2px);
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.18);
    }