.about-preview {
    padding: $spacing-lg 0;
    background-color: $grey-lighter;
}

.about-preview-content {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
    gap: $spacing-md;
    margin-bottom: $spacing-lg;
     p {
        color: $grey-mid;
        line-height: $line-height;
     }

     a {
        align-self: flex-start;
     }
}

.about-preview .btn-secondary {
    margin-top: $spacing-lg;
}

.about-intro {
    padding: $spacing-lg;
    background: $white;
}

.about-intro .container {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    
    .section-tag {
        margin-bottom: $spacing-md;
    }

    h1 {
        margin-bottom: $spacing-lg;
    }

    p {
        color: $grey-mid;
        line-height: $line-height;
    }
}

.about-agency {
    padding: $spacing-lg;
    background: $grey-lighter;
}

.about-agency .container {
    max-width: 650px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;

    p {
        color: $grey-mid;
        line-height: $line-height;
    }
}

.about-team {
    padding: $spacing-lg;
    background: $white;
}

.about-team .container {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

    h2 {
        margin-bottom: $spacing-md;
    }

    p {
        color: $grey-mid;
        line-height: $line-height;
        margin-bottom: $spacing-lg;
    }
}

.team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-lg;
}

.member-card {
    padding: $spacing-md;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $grey-lighter;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);

    img {
        width: 120px;
        border-radius: 999px;
        margin: 0 auto;
        margin-bottom: $spacing-md;
    }

    h3 {
        margin-top: $spacing-md;
        margin-bottom: $spacing-sm;
    }

    p {
        color: $grey-mid;
        line-height: $line-height;
    }
}

.about-values {
    padding: $spacing-lg 0;
    background: $grey-lighter;
}

.about-values .container {
    max-width: 650px;
    text-align: center;

    h2 {
        margin-bottom: $spacing-sm;
    }

    p {
        color: $grey-mid;
        margin-bottom: $spacing-md;
        line-height: $line-height;
    }
}

.value-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $spacing-lg;
} 

.value-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    padding: $spacing-md;

    h3 {
        margin-bottom: $spacing-md;
    }
}

.about-cta {
    padding: $spacing-lg;
    background: $grey-light;
}
.about-cta .container {
    max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: $spacing-md;

  .section-tag {
    margin-bottom: $spacing-sm;
  }

  h2 {
    margin-bottom: $spacing-md;
  }

  p {
    color: $grey-mid;
    line-height: $line-height;
    margin-bottom: $spacing-md;
  }

  a {
    align-self: flex-start;
  }
    
}

// responsive

@include respond-to($bp-md) {
    .team-container {
        grid-template-columns: 1fr;
    }

    .value-card-container {
        grid-template-columns: 1fr;
    }
}

